/*
  The “properties” inside the curly brackets control elements such as color, type treatments, position, ect. You can modify the following css elements to customize your pages style.
*/

body {
  background:#EEEEEE;
  color: #222222;
  font-family: Arial !important;
}

/* The topnav are navigation links shown across the top of the ePortfolio directly under the title */
#site_topnav ul li a {
  color:#000000;
}

/* The header is the area at the top of the page above the title, while the #main_container is the center content of page.*/
#header_container {
  padding-bottom:0.5em;
  padding-top:10px;
}

#header_container, #main_container {
  background-color:#ffe599;
  border-color:#333;
  border-style: solid;
  border-width: 4px;
  position:relative;
  padding: 5px 0;
}

#header_container .title {
  border-bottom:2px solid #CCCCCC !important;
  padding:15px;
}

/* The module_topnav controls the navigation within your pages and content.*/
#module_topnav{
  border: none !important;
}

.navigation_topnav {
  background-color: #ff9900;
}

.navigation_topnav a {
  color: white;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 110%;
  font-weight: bold;
  border-left: none !important;
}

/*The #footer is for the content at the bottom of your pages and can be customized to fit the look and feel you are looking for. */
#footer_container {
  background:none;
  border-top:1px solid #AAAAAA;
}

.title{
  display:block;
}

#footer {
  background:none;
}

#header_container {
  border-radius: 30px 30px 0 0;
  border-bottom-width: 0;
}

#main_container {
  border-radius: 0 0 30px 30px;
  border-top-width: 0;
}

.navigation_leftnav {
  padding: 10px 10px 10px 15px;
  margin-top: 10px;
}

.navigation_leftnav h4 a {
  font-size: 80% !important;
  font-weight: bold;
}

.navigation_leftnav a {
  color: #1155cc !important;
}

#portfolioright .module_panel {
  padding: 10px 20px 10px 10px !important;
}
